@use '../abstracts' as *;

.features-v2 {
  margin-bottom: 3rem;
  list-style: none;

  &__item {
    display: flex;
    column-gap: 0.2rem;
    align-items: center;
  }

  &[data-gridLayout='3cols'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }


}