.features {
  margin-bottom: 3rem;

  &__list {
    padding-left: 1rem;
  }

  // utils
  &__list[data-gridLayout='3cols'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__list[data-listStyle='none'] {
    list-style: none;
  }

  &__item[data-display='grid'] {
    display: grid;
  }
}
