@use '../abstracts' as *;

.quotation {
  margin-bottom: 3rem;

  &__quote {
    // 25px - 48px between viewportsize: 320px - 768px
    font-size: clamp(1.5625rem, calc(0.5357rem + 5.1339vw), 3rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 0.15rem;
  }

  &__quote::before {
    content:"\201C";
  }

  &__author {
    text-align: center;
  }
}