@use '../abstracts' as *;

.text-block {



  &__address {
    display: grid;
    margin-bottom: 1rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      flex-direction: row;
      column-gap: 0.8rem;
    }
  }

  &__list {
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  &__list-label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__item {
    margin-bottom: 0.5rem;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  &__contact {
    color: #606060;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  &__contact-span {
    color: hsl(144, 61%, 30%);
    text-decoration: underline;
  }

  //utils
  &__fw-500 {
    font-weight: 500;
  }

  &__mb-48 {
    margin-bottom: 3rem;
  }

  &__banner {
    width: 100%;
    margin-bottom: px-to-rem(48);
    @media (min-width: 1400px) {
      display: none;
    }
  }
}
