html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #606060;
  font-size: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}

picture, img {
  vertical-align: middle;
}


a {
  display: block;
}
